################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LocationTrackingApp/Platforms/Windows/App.xaml.cs
.vs/ git
